
@model Abstracciones.Modelos.Peliculas.PeliculaFav
@{
    ViewData.TemplateInfo.HtmlFieldPrefix = "peliculaFav";
}
<form id="formPeliculaFav"  method="post" asp-page-handler="PeliFav">
    <div class="modal-header">
        <h5 class="modal-title">Agregar pelicula a favoritos</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
    </div>
    <div class="modal-body">
        @Html.AntiForgeryToken()
        <div class="mb-3">
            <label asp-for="Puntuacion" class="form-label">Puntuacion</label>
            <input asp-for="Puntuacion" class="form-control" max="10"/>
            <span asp-validation-for="Puntuacion" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Comentario" class="form-label">Comentario</label>
            <input asp-for="Comentario" class="form-control" />
            <span asp-validation-for="Comentario" class="text-danger"></span>
        </div>
        <div class="mb-3">
            <label asp-for="Username" class="form-label">Username</label>
            <input asp-for="Username" class="form-control" />
            <span asp-validation-for="Username" class="text-danger"></span>
        </div>
        <input type="hidden" asp-for="IdPelicula" />
        

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
        <button type="submit" class="btn btn-primary">Agregar</button>
    </div>
    
</form>